  .button {
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    margin-bottom: 20px;
  }

  .grid{
    margin: 0 auto;
    font-size: 1rem;
    
  }
  #gameArea {
    display: grid; 
    grid-template-columns: auto auto auto auto auto auto auto auto; 
    grid-template-rows: auto auto auto auto auto auto auto auto; 
  }
  
  .clearfix{
    visibility: hidden;
    display: block;
    content: "";
    clear: both;
    height: 0;
  }
  /*
  .beginner {
    --grid-rows: 9;
    --grid-cols: 9;
    width: 30%;
  }
  
  .intermediate {
    --grid-rows: 16;
    --grid-cols: 16;
    width: 50%;
  }
  
  .expert {
    --grid-rows: 30;
    --grid-cols: 16;
    width: 70%;
  }